* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

.posts {
  margin-bottom: 15px;
}

.posts__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid lightcoral;
  padding: 15px;
  margin-bottom: 15px;
}

.posts__item-head {
  display: flex;
  align-items: center;
}

.posts__item-head h2,
.posts__item-head p {
  font-size: 23px;
  font-weight: bold;
}

.posts__item-content {
  margin-right: 20px;
}

.posts__item-head h2 {
  margin-left: 10px;
}

.posts__item:last-child {
  margin-bottom: 0;
}

.not-found {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

.posts__item-enter {
  transform: translateX(-25px);
}
.posts__item-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.posts__item-exit {
  opacity: 1;
}
.posts__item-exit-active {
  transform: translateX(-25px);
  transition: all 500ms ease-in;
}

.pagination {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.pagination__item {
  padding: 5px 10px;
  border: 1px solid lightcoral;
  cursor: pointer;
}

.pagination__item_active {
  border: 2px solid lightcoral;
  background: rgba(128, 128, 128, 0.34);
  font-weight: bold;
}

.navbar {
  width: 100vw;
  height: 100px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  background-color: lightcoral;
}

.navbar__item {
  margin-right: 10px;
  margin-left: auto;
}

.navbar__item:last-child {
  margin-right: 0;
}
